<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ostenant.yoga.store.core.dao.country.TownMapper" >
  <resultMap id="BaseResultMap" type="org.ostenant.yoga.store.core.bean.country.Town" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="TableName">
  	bbs_town
  </sql>
  
  <sql id="Base_Column_List" >
    id, code, name, city
  </sql>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="TableName"/>
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from <include refid="TableName"/>
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <insert id="insert" parameterType="org.ostenant.yoga.store.core.bean.country.Town" >
    insert into <include refid="TableName"/> (id, code, name, 
      city)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{city,jdbcType=CHAR})
  </insert>
  
  
  <insert id="insertSelective" parameterType="org.ostenant.yoga.store.core.bean.country.Town" >
    insert into <include refid="TableName"/>
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="city != null" >
        city,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="org.ostenant.yoga.store.core.bean.country.Town" >
    update <include refid="TableName"/>
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <update id="updateByPrimaryKey" parameterType="org.ostenant.yoga.store.core.bean.country.Town" >
    update <include refid="TableName"/>
    set code = #{code,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      city = #{city,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 通过城市id获取城镇列表 -->
  <select id="getTownListByCid" parameterType="java.lang.String" resultMap="BaseResultMap">
  	 select id, code, name, city
  	 from <include refid="TableName"/>
  	 <where>
  	 	and city = #{cityCode}
  	 </where>
  </select>
  
  <select id="getTownNameById" parameterType="java.lang.String" resultMap="BaseResultMap">
    	 select id, code, name, city
	  	 from <include refid="TableName"/>
	  	 <where>
  	 		and code = #{town}
  	 	</where>
  </select>
  
</mapper>

